

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.card {
  min-height: 43.75rem;
  max-width: 67.5rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  column-gap: 2rem;
  font-family: 'Rajdhani';
  
 

}



/* Text Styling */
.cardheader{
  grid-row-start:2;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 2;
  font-size: 3rem;
  font-weight:normal;
  text-align: left;
  color: rgba(94, 246, 255, 1);
}

.cardparagraph {
  grid-row-start:3;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 2;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
  color: rgba(94, 246, 255, 1);
}

/* Images */
.cardimage {
  grid-row-start:3;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 3;
  border: 1px solid rgba(94, 246, 255, 1);
  border-radius: 1.25rem;
  width: 23.125rem;
  height: 21.875rem;
}

.cardbackground {
  position: absolute;
  
}
