body {
    display: flex;
    justify-content: center;
    min-height: 100vh; 
    min-width: 100vw;
    margin: 0;
    background-color: antiquewhite;
}

.wrapper {
    max-width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    background-color: rgb(144, 211, 255);
}



.card {
    display: flex;
    width: 14vw;
    height: 20vw;
    margin: 1%;
    border-radius: 5px;
    border:solid 1px;
}

.box {

    z-index: 1;
    text-align: center;
    align-content: center;
    color: black;
    background-color: grey;
}

.card .a.box{
    color:white;
    background-color: purple;
}

.card .box{
    margin: 2.5%;
    width: 40px;
    height: 40px;
}


.background {
    z-index: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    font-size: 80px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    background-color: white;
}

.card.a{
    flex-direction: row;
    align-items: end;

}

.card.b{
    flex-direction: column-reverse;
    align-items: flex-end;
}
.card.b .b{
    margin-right: -5%;
}

.card.c{
    flex-direction: row;
    justify-content: left;
}

.card.c .b{
    background-color: orangered;
}

.card.c .a{
    margin-left: -5%;
}


.card.d{
    flex-direction: column;
    justify-content: space-around;
}

.card.d .box{
    transform: rotate(90deg);
    margin-left: 0%;

}   

.card.e{
    overflow: hidden;
    position: relative;
}

.card.e .box{
    margin: 0%;
    position: absolute;
}

.card.e .a{
    border-radius: 5px 0px 0px 0px;
    top:0%;
}

.card.e .b{
    border-radius: 0px 5px 0px 0px;
    top:0%;
    right:0%;
    
}

.card.e .c{
    border-radius: 0px 0px 5px 0px;
    bottom:0%;
    right:0%;
}

.fixed {
    position: fixed;
    width: 200px;
    height: 200px;
    font-size: 18px;
    bottom: 0px;
  }
  
.left {
    left: 0px;
  }
  
.right {
    right: 0px;
  }