body {
    display: flex;
    justify-content: center;
    min-height: 100vh; /* Viewport height*/
    min-width: 100vw;
    margin: 0;
    background-color: antiquewhite;
}

.wrapper {
    max-width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    border: 2px solid rgb(96 139 168);
    border-radius: 5px;
    background-color: rgb(96 139 168);
}



.card {
    display: flex;
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
    border-radius: 5px;
    border:solid 1px;
}
.card .a.box{
    color:white;
    background-color: purple;
}

.box{
    z-index: 1;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: large;
    color: black;
    background-color: grey;
    justify-content: center;
    align-content: center;
}
.card .box{
    margin: 2.5%;
}

.background {
    z-index: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    font-size: 80px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    background-color: white;
}

.card.a{
    flex-direction: row;
    align-items: end;
    justify-content: left;

}

.card.b{
    flex-direction: column-reverse;
    align-items: flex-end;
}
.card.b .b{
    margin-right: -5%;
}

.card.c{
    flex-direction: row;
    align-items: start;
    justify-content: left;
}

.card.c .box{
    margin-right: 10%;
    margin-left: -5%;
}
.card.c .b{
    background-color: orangered;
}


.card.d{
    flex-direction: column;
    justify-content: space-around;
}

.card.d .box{
    transform: rotate(90deg);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 0%;

}   

.card.e .box{
    margin: 0%;
    position: absolute;
}

.card.e .a{
    border-radius: 5px 0px 0px 0px;
    top:0%;
}

.card.e .b{
    border-radius: 0px 5px 0px 0px;
    top:0%;
    right:0%;
    
}

.card.e .c{
    border-radius: 0px 0px 5px 0px;
    bottom:0%;
    right:0%;
}

.fixed {
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: #9e9e9e;
    color: black;
    font-size: 18px;
    bottom: 0px;
  }
  
.left {
    left: 0px;
  }
  
.right {
    right: 0px;
  }