body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.options{
    width: 50%;
    margin-left: 3%;
    margin-top: 5%;
}

.results{
    width: 50%;
    margin-top: 3%;
}

.controls{
    display: flex;
    flex-direction: row;
}

textarea{
    height: 20vh;
    width: 40vw;
}

.title{
    font-size: 200%;
}

.content * {
    border:none;
}

#styleSelect{
    height: 5vh;
    width: 25vw;
}

button{
    margin-left: 1%;
    height: 5vh;
    width: 7.2vw;
}