* {
    box-sizing: border-box;
}

:root{
    --primary-color: hsl(291,99%,9%);
    --secondary-color: hsl(183, 63%, 100%);
    --tertiary-color: hsl(294.19,15.42%,39.41%);
    --accent-color: #5EF6FF;
}

body{
    margin: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    
}


header{
    min-height: 20svh;
    max-width: 100svw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary-color);
    color: var(--accent-color);
}

header > *{
    margin-inline:1rem;
    width: fit-content;
    max-width: 20%;
    fill: var(--secondary-color);
}

.three-wrapper{
    position: relative;
    width: 100%;
    min-height: 100svh;
    margin: 0;
    display: flex;
    border: 1px solid white;
}

.cards-wrapper{
    display: flex;
    position: relative;
    margin: 0 auto;
    min-height: 100vh;
    max-width:  80rem;
    background-color: var(--primary-color);
}
.slider{
    display:flex;
    align-items: center;
    border-radius: 5px;
    gap: 200px;
    width:1077px;
    overflow-x: auto;
    
}

.slider::-webkit-scrollbar{
    display:none;
}