:root{
    --primary-color: hsl(291,99%,9%);
    --secondary-color: hsl(183, 63%, 100%);
    --tertiary-color: hsl(294.19,15.42%,39.41%);
    --accent-color: #5EF6FF;
}

body{
    margin: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.wrap{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}
header{
    min-height: 20svh;
    max-width: 100svw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary-color);
    color: var(--accent-color);
}

header > *{
    margin-inline:1rem;
    width: fit-content;
    max-width: 20%;
    fill: var(--secondary-color);
}

.three-wrapper{
    position: relative;
    min-height: 100svh;
    display: flex;
}

.cards-wrapper{
    min-height: 100vh;
    position: relative;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

img {
    max-width: 50%;
    display: block;
    margin-inline: auto;
}