body {
    min-height: 100vh; /* Viewport height*/
    min-width: 100vw;
    display: flex;
    margin: 0%;
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(227, 225, 225)
}

.top{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxContainer {
    display: flex;
    width: 80vw;
    height: 30vh;
    justify-content: space-evenly;
    flex-direction: row;
}

.boxContainer .imgBox {
    width: 30%;
    height: 70%;
}

.boxContainer.imgBox img{
    display: block;
}

#left {
    align-items: center;
    justify-content: flex-end;
}

#middle {
    justify-content: center;
}

#right {
    align-items: center;
}

.column {
    display: flex;
    max-width: 33.333vw;
    margin: 1%;
    align-items: center;
}


.imgBox {
    display: flex;
    justify-content: center;
    width: 33.33vw;
    height: 33.33vw;
    border: 1vw solid white;
}

img {
    min-width: 100%;
    height: auto;
    object-fit: cover;
}

#img1 {
    display: none;
}

#img2 {
    display: flex;
}

#img3 {
    display: none;
}

#img4 {
    display: none;
}

#img5 {
    display: none;
}

#img6 {
    display: none;
}

#img7 {
    display: none;
}

#img8 {
    display: none;
}

#rightarrow {
    border-top: 3vh solid transparent;
    border-bottom: 3vh solid transparent;
    
    border-left: 2vw solid gray;
    cursor: grab;
}


#leftarrow {
    border-top: 3vh solid transparent;
    border-bottom: 3vh solid transparent; 
    
    border-right: 2vw solid gray; 
    cursor: grab;
}